.bg-primary {
    background-color: #3f51b5 !important;
}
a {
    color: #3f51b5;
}
.section-body {
	color: #212529 !important;
}
.card-title .text-muted {
	color: white !important;
}
.link-no-style:hover {
    text-decoration: none;
    color: #3f51b5;
}
.link-no-style { 
    color: #212529;
}
.detail-header {
	height: 100%;
}
