{% extends "main/base.html" %}
{% block title %} PORTFOLIO | {{section.title}} {% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-4">
        <a href="/" class="link-no-style">
		{% include "main/header.html" %}
        </a>
	</div>
	<div class="col-md-8">
		<div class="card detail-header">
			<div class="card-body">
			  <h5 class="card-title text-right">{{section.title}}</h5>
			  <p class="card-text text-right">{{section.sub_title}}</p>	
			</div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
			  <p class="card-text">
					{{section.content|safe}}
			  </p>
			</div>
	    </div>
	</div>
</div>
{% if code_example %}
<br>
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body" id="code-example-body">
			 
					{{code_example}}
			 
			</div>
	    </div>
	</div>
</div>
{% endif %}
<br>
<div class="card-columns text-center">

  {% for section_link in section.section_link.all %}
  <div class="card">
    <a href="{{section_link.url}}" class="link-no-style" add target="_blank">
    <div class="card-body">
      <p class="card-text">{{section_link.title}}</p>
      <p>(opens in new tab)</p>
    </div>
    </a>
  </div>
  {% endfor %}
  
  {% for section_image in section.section_image.all %}
  <div class="card">
  	<img class="card-img-top" src="{{section_image.image.url}}" 
         alt="{% if section_image.description %}{{section_image.description}}{% else %}{{section.title}} screenshot{% endif %}">
      {% if section_image.description %}
      <div class="card-body">
        <p class="card-text"><small class="text-muted">{{section_image.description}}</small></p>
      </div>
      {% endif %}
      
  </div>
  {% endfor %}

</div>

{% endblock %}