{% extends "main/base.html" %}
{% block title %}PORTFOLIO{% endblock %}
{% block content %}
<div class="card-columns">
	{% include "main/header.html" %}

	{% for section in sections %}
	<a href="/{{section.slug}}">
	  <div class="card p-3">
	    {% if section.image %}<img class="card-img-top" src="{{section.image.url}}" alt="{{section.title}} screenshot">{% endif %}
	    <div class="card-body">
	      <h5 class="card-title">{{section.title}}</h5>
	      <p class="card-text">{{section.sub_title}}</p>
	      <p class="card-text"><small class="text-muted">{{section.date}}</small></p>
	    </div>
	  </div>
	</a>
	{% endfor %}

</div>
{% endblock %}