{% extends "main/base.html" %}
{% block title %}PORTFOLIO{% endblock %}
{% block content %}
<div class="card-columns">
	{% include "main/header.html" %}
    
	<div class="card p-3">
		<div class="card-body">
			<div class="row text-center">
				<div class="col-4">
					<a href="{{site_settings.email}}" class="link-no-style">EMAIL</a>
				</div>
				<div class="col-4">
					<a href="{{site_settings.github}}" class="link-no-style">GITHUB</a>
				</div>
				<div class="col-4">
					<a href="{{site_settings.linkedin}}" class="link-no-style">LINKEDIN</a>
				</div>
			</div>
		</div>
	</div>
	{% for section in sections %}
	<a href="/{{section.slug}}">
	  <div class="card p-3">
	    <div class="card-body section-body">
	      <h5 class="card-title">{{section.title}}</h5>
	      <p class="card-text">{{section.sub_title}}</p>
	      <p class="card-text text-right"><small class="text-muted">{{section.date|date:"M Y"}}</small></p>
	    </div>
	  </div>
	</a>
	{% endfor %}
	<div class="card p-3">
		<div class="card-body">
			<div class="row text-center">
				<div class="col-4">
					<a href="{{site_settings.email}}">EMAIL</a>
				</div>
				<div class="col-4">
					<a href="{{site_settings.github}}">GITHUB</a>
				</div>
				<div class="col-4">
					<a href="{{site_settings.linkedin}}">LINKEDIN</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}